@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("/assets/fonts/PlusJakartaDisplay-Regular.otf");
    font-style: normal;
}

@font-face {
    font-family: Neucha;
    src: url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
    font-style: normal;
}